
body { 
overflow-y:hidden;
padding-bottom: 70px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: 100vh;
}

.item1{
	background-image: url('../assets/salt_lake/6924bw_0021.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.navbar { 	
	background: #f8f8ff; 
	height:70px; 
}

.nav-ctext {
	color: #111111 !important;
	font-size: 18px;
	margin-top: 9px;
	margin-left: 10%;
}

.prolook-textbox {
	color: #D6D6D6;
	font-size: 18px;
	margin-top: -10px;	
}

.prolook-lightbutton {
	border: 3px solid #4E4949;		
}

.prolook-darkbutton {
	color: #D6D6D6;
	font-size: 18px;		
}